@use './../Scss/'as *;
.popup{
    position: absolute;
    z-index: 5;
    top: 130%;
    right: 0px;
    width: 150%;  
    background-color: black;
    clip-path: polygon(0 3%, 77% 3%, 80% 0, 82% 3%, 100% 3%, 100% 100%, 0 100%);
    @include mobile{
        width: 200%;
    }
    &__container{
        width: 100%;
        &__item{
            a{
                color: $txt-color-2;
            }
            &:hover{
                background-color: rgb(14, 15, 15);
            }
            &:first-child{
                padding-top: 30px;
            }
            padding: 10px 0 10px 20px;
            border-top: 1px solid $button-color;
            
            width: 100%;
            .popup__item{
          
                cursor: pointer;
                width: 100%;
                @include flex(unset,unset);
                .popup__item__img{
                    margin-right: 20px;
                    width: 25%;
                    img{
                        width: 100%;
                        height: 120px;
                    }
                }
                .popup__item__info{
                    @include flex-vertical;
                    
                    &__name{
                        color: $txt-color-2;
                        p{
                            margin: 20px 0 0 0;
                        }
                    }
                    &__rate{
                        p{
                            margin: 10px 0;
                        }
                    }
                    &__star{
                        @include flex(unset,unset);
                        i{
                            width: unset;
                            height: unset;
                            position: unset;
                            background-color: unset;
                            color: yellow;
                        }
                    }
                }
            }
        }
        
    }
}