@use  './Components/Scss/' as *;
body{
    overflow-x: hidden;
    a{
        text-decoration: none;
    }
    .main-project{
        display: flex;
        justify-content: center;
        align-items: center;
        .container{
            display: flex;
            width: 100%;
        }
    }
}